<style>
img {
  max-width: 50%;
  max-height:50%;
}

</style>
<a id="logo"
href="{{ .Site.Params.landingPageURL | default "/" | relLangURL }}">
<div class="container">
    <div class="image">
        <img src="/images/logo.png"></img>
    </div>
    <div class="text">
        <p><strong>Radical Security</strong></p>
    </div>
</div>
</a>